@{
    ViewData["Title"] = "Онлайн-столовая";
}
<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Login", "Auth")" class="btn btn-primary mr-2">Вход</a>
    <a href="@Url.Action("Register", "Auth")" class="btn btn-primary mr-2">Регистрация</a>
</div>
    <div class="text-md-left">
        <h1 class="display-8">Онлайн-столовая</h1>

        <a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Сделать заказ</a>
        <br />
        <br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="TableOfOrders">Таблица заказов</a>
        <br />
        <br />
        <a class="btn btn-primary" asp-controller="Menu" asp-action="TableOfEatsToday">Для сотрудников столовой</a>
        <br />
        <br />
        <a class="btn btn-primary" asp-controller="MenuRedaction" asp-action="Index">Редактировать меню</a>
    </div>
